#container
{
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button{
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsla(210, 95%, 33%, 0.833);
  font-weight: bold;
  color: white;
  cursor: pointer;
}
button:hover
{
  background-color: rgb(81, 81, 239);
}
button:active
{
  background-color: rgb(141, 141, 236);
}
input
{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;

}
#diceResult
{
  margin: 25px;
}
#diceimages img{
  width: 150px;
  margin:5px;
}